*~
*Makefile.in
*Makefile
aclocal.m4
autom4te.cache
autoscan.log
compile
configure
depcomp
missing
taler_config.h.in
install-sh
config.log
config.status
stamp-h1
taler_config.h
config.guess
config.sub
libtool
ltmain.sh
test-driver
m4/
INSTALL
GPATH
GRTAGS
GTAGS
*.swp
src/backend/taler-merchant-httpd
src/lib/test_merchant_api
src/lib/test_merchant_api_home/.local/share/taler/exchange/live-keys/
src/lib/test_merchant_api_home/.local/share/taler/wirefees/
taler_merchant_config.h
taler_merchant_config.h.in
doc/*
!doc/*.texi
!doc/*.am
!doc/*.sh
!doc/examples/
