*~
*Makefile.in
!src/mitm/*.in
*Makefile
aclocal.m4
autom4te.cache
autoscan.log
compile
configure
depcomp
missing
taler_config.h.in
install-sh
config.log
config.status
stamp-h1
taler_config.h
config.guess
config.sub
libtool
ltmain.sh
test-driver
m4/
INSTALL
GPATH
GRTAGS
GTAGS
*.swp
src/backend/taler-merchant-httpd
src/merchant-tools/taler-merchant-dbinit
src/lib/test_merchant_api
src/lib/test_merchant_api_home/.local/share/taler/exchange/live-keys/
src/lib/test_merchant_api_home/.local/share/taler/wirefees/
taler_merchant_config.h
taler_merchant_config.h.in
doc/*
!doc/*.texi
!doc/*.css
!doc/*.1
doc/version.texi
!doc/*.am
!doc/*.sh
!doc/examples/
src/lib/test_merchant_api_home/.local/share/taler/exchange/wirefees/
src/merchant-tools/taler-merchant-generate-payments
src/merchant-tools/mitm/taler-merchant-mitm
src/merchant-tools/mitm/merchant-mitm.wsgi
doxygen-doc/
contrib/taler-merchant.tag
src/merchant-tools/taler-merchant-tip-enable
src/lib/reserve_dkey.priv
src/lib/reserve_key.priv
